/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "ten-mincho-text", serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
}

.pf-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

html body .pf-fv {
  height: 100vw;
  background-image: url("https://gigaplus.makeshop.jp/kitanoace/15_premiumfurikake/assets/img/fv_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
html body .pf-fv h1 {
  width: 69.3vw;
  padding-top: 19px;
  margin: 0 auto;
}
html body .pf-fv div {
  width: 100%;
  height: 16vw;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
html body .pf-fv div img {
  height: 100%;
}
html body .pf_main {
  background-image: url("https://gigaplus.makeshop.jp/kitanoace/15_premiumfurikake/assets/img/main_bg.webp");
  background-size: cover;
  background-position: center;
}
html body .pf_main .pf-epilogue {
  height: 153.9vw;
  position: relative;
  overflow-x: hidden;
}
html body .pf_main .pf-epilogue img {
  width: 213.3vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 40px) rotate(-6deg);
}
html body .pf_main .pf-epilogue h2, html body .pf_main .pf-epilogue p {
  position: relative;
  text-align: center;
  z-index: 1;
}
html body .pf_main .pf-epilogue h2 {
  padding-top: 156px;
  font-size: 28px;
}
html body .pf_main .pf-epilogue p {
  margin-top: 10px;
  font-size: 16px;
}