/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "ten-mincho-text", serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

.pf-pc {
  display: none !important;
}

html, body {
  width: 100vw;
}

.pf-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.fadein {
  opacity: 0;
  animation: fadein 1s 0.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeup {
  opacity: 0;
  transform: translateY(30px);
}

.fadeup-on {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html body .pf-fv {
  height: 125.1vw;
  background-image: url("https://gigaplus.makeshop.jp/kitanoace/15_premiumfurikake/assets/img/fv_bg_re.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
html body .pf-fv h1 {
  width: 69.3vw;
  padding-top: 20px;
  margin: 0 auto;
}
html body .pf-fv .pf-treat {
  width: 100%;
  height: 16vw;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
html body .pf_main {
  background-image: url("https://gigaplus.makeshop.jp/kitanoace/15_premiumfurikake/assets/img/main_bg.webp");
}
html body .pf_main .pf-epilogue {
  height: 153.9vw;
  position: relative;
  overflow-x: hidden;
}
html body .pf_main .pf-epilogue img {
  width: 213.3vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 40px) rotate(-6deg);
}
html body .pf_main .pf-epilogue div {
  height: fit-content;
}
html body .pf_main .pf-epilogue h2, html body .pf_main .pf-epilogue p {
  position: relative;
  text-align: center;
  z-index: 1;
}
html body .pf_main .pf-epilogue h2 {
  margin-top: 156px;
  font-size: 28px;
  color: #0F2262;
}
html body .pf_main .pf-epilogue p {
  margin-top: 10px;
  font-size: 16px;
}
html body .pf_main .pf-detail {
  padding-bottom: 80px;
  margin-top: 90px;
}
html body .pf_main .pf-detail article {
  padding-bottom: 60px;
  margin-top: 116px;
  overflow-x: hidden;
}
html body .pf_main .pf-detail article .catchcopy {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #0F2262;
  text-align: center;
}
html body .pf_main .pf-detail article .catchcopy span {
  display: block;
  width: 35px;
  margin-right: 4px;
}
html body .pf_main .pf-detail article .catchcopy span:nth-of-type(2) {
  transform: translateY(-7.5px) rotate(180deg);
}
html body .pf_main .pf-detail article .con {
  position: relative;
}
html body .pf_main .pf-detail article .con:nth-of-type(1) {
  width: 100%;
  height: 80vw;
  margin-top: 24px;
  z-index: 1;
}
html body .pf_main .pf-detail article .con:nth-of-type(1) .bg {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
html body .pf_main .pf-detail article .con:nth-of-type(1) .treat1 {
  width: 39.7vw;
  position: absolute;
  top: 16px;
  left: -16px;
  z-index: 1;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) {
  margin-top: 16px;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) h2 {
  padding-left: 16px;
  font-size: 20px;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-line {
  display: block;
  width: calc(100% - 32px);
  margin: 8px auto 0 auto;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) p:nth-of-type(1) {
  width: calc(100% - 32px);
  margin: 12px auto 0 auto;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-price {
  width: calc(100% - 32px);
  margin: 12px auto 0 auto;
  display: flex;
  justify-content: right;
  align-items: end;
  font-family: "Noto Serif JP", serif;
  font-size: 28px;
  font-weight: 900;
  position: relative;
  z-index: 1;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-price span {
  font-size: 16px;
  transform: translateY(-2.5px);
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-price span:nth-of-type(1) {
  margin-right: 7px;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-price span:nth-of-type(2) {
  margin-left: 8px;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-cta {
  display: block;
  width: calc(100% - 32px);
  height: 48px;
  background-color: #0F2262;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
  position: relative;
  transition-duration: 0.3s;
  margin-top: 12px;
  z-index: 1;
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-cta::after {
  content: "";
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: solid 1px #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .pf-cta:hover {
  transform: scale(1.05, 1.05);
}
html body .pf_main .pf-detail article .con:nth-of-type(2) .treat2 {
  width: 101.9vw;
  position: absolute;
  left: 10.7vw;
  bottom: 0;
  transform: translateY(56px);
  opacity: 0.15;
  z-index: 0;
}
html body .pf_main .pf-detail article:nth-of-type(1) {
  margin-top: 0;
}
html body .pf_main .pf-detail article:nth-of-type(2) .con:nth-of-type(2) .treat2 {
  width: 138.9vw;
}
html body .pf_main .pf-detail article:nth-of-type(3) .con:nth-of-type(2) .treat2 {
  width: 98.7vw;
}
html body .pf_main .pf-detail article:nth-of-type(4) .con:nth-of-type(2) .treat2 {
  width: 126.4vw;
}
html body .pf_main .pf-detail article:nth-of-type(5) .con:nth-of-type(2) .treat2 {
  width: 116vw;
}
html body .pf_main .pf-detail article:nth-of-type(6) .con:nth-of-type(2) .treat2 {
  width: 121vw;
}
html body .pf_main .pf-recommend {
  background-color: #FFFFFF;
  padding-top: 80px;
}
html body .pf_main .pf-recommend * {
  font-family: "Noto Sans JP", sans-serif;
}
html body .pf_main .pf-recommend h2 {
  padding-left: 16px;
  font-size: 24px;
  font-weight: 700;
  color: #414143;
}
html body .pf_main .pf-recommend ul {
  width: calc(100% - 32px);
  margin: 40px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
html body .pf_main .pf-recommend ul li {
  width: calc(50% - 8px);
  margin-top: 40px;
}
html body .pf_main .pf-recommend ul li a {
  display: block;
  color: #414143;
}
html body .pf_main .pf-recommend ul li a h3 {
  padding-top: 3px;
}
html body .pf_main .pf-recommend ul li:nth-of-type(even) {
  margin-left: 16px;
}
html body .pf_main .pf-recommend ul li:nth-of-type(1), html body .pf_main .pf-recommend ul li:nth-of-type(2) {
  margin-top: 0;
}
html body .pf_main .pf-recommend .pf-cta {
  display: block;
  width: 77.9vw;
  height: 48px;
  border-radius: 8px;
  background-color: #B8193F;
  margin: 24px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
}
html body .pf_main .pf-recommend .pf-cta:active {
  box-shadow: 0 0 0 0 transparent;
  transform: translateY(2px);
}
html body .pf_main .pf-recommend:nth-last-of-type(1) {
  padding: 100px 0;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }
  .pf-sp {
    display: none !important;
  }
  .pf-pc {
    display: block !important;
  }
  html body .pf-fv {
    height: 46.9vw;
    background-image: url("https://gigaplus.makeshop.jp/kitanoace/15_premiumfurikake/assets/img/responsive/fv_bg_re.jpg");
  }
  html body .pf-fv h1 {
    width: 46.9vw;
    padding-top: 0;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }
  html body .pf-fv .pf-treat {
    height: 6.3vw;
  }
  html body .pf_main {
    background-repeat: repeat;
  }
  html body .pf_main .pf-epilogue {
    height: 53vw;
  }
  html body .pf_main .pf-epilogue img {
    width: 63vw;
  }
  html body .pf_main .pf-epilogue h2 {
    margin-top: 175px;
    font-size: 32px;
  }
  html body .pf_main .pf-epilogue p {
    font-size: 18px;
  }
  html body .pf_main .pf-detail {
    padding-bottom: 100px;
  }
  html body .pf_main .pf-detail article {
    padding-bottom: 0;
    margin-top: 176px;
    overflow-x: initial;
  }
  html body .pf_main .pf-detail article .catchcopy {
    font-size: 24px;
  }
  html body .pf_main .pf-detail article .catchcopy span {
    width: 46px;
    margin-right: 8px;
  }
  html body .pf_main .pf-detail article .container {
    width: 75vw;
    height: 31.3vw;
    margin: 24px auto 0 auto;
    display: flex;
    align-items: center;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(1) {
    width: 52.1%;
    height: 100%;
    margin-top: 0;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(1) .bg {
    width: 100%;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(1) .treat1 {
    width: 14.1vw;
    top: 20px;
    left: -20px;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) {
    width: calc(47.9% - 40px);
    margin-top: 0;
    margin-left: 40px;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) h2 {
    padding-left: 0;
    font-size: 24px;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) .pf-line {
    width: 100%;
    margin: 12px 0 0 0;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) p:nth-of-type(1) {
    width: 100%;
    margin: 16px 0 0 0;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) .pf-price {
    width: 100%;
    margin: 16px 0 0 0;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) .pf-price span {
    font-size: 16px;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) .pf-price span:nth-of-type(1) {
    margin-right: 8px;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) .pf-cta {
    width: 100%;
    font-size: 18px;
    margin-top: 16px;
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) .pf-cta:active {
    transform: scale(1.1, 1.1);
  }
  html body .pf_main .pf-detail article .container .con:nth-of-type(2) .treat2 {
    width: 35.9vw;
    left: 6.3vw;
    transform: translateY(104px);
  }
  html body .pf_main .pf-detail article:nth-of-type(even) .container {
    flex-direction: row-reverse;
  }
  html body .pf_main .pf-detail article:nth-of-type(even) .container .con:nth-of-type(1) {
    margin-left: 40px;
  }
  html body .pf_main .pf-detail article:nth-of-type(even) .container .con:nth-of-type(2) {
    margin-left: 0;
  }
  html body .pf_main .pf-detail article:nth-of-type(even) .container .con:nth-of-type(2) .treat2 {
    left: -6.3vw;
  }
  html body .pf_main .pf-recommend h2 {
    padding-left: 160px;
    font-size: 28px;
  }
  html body .pf_main .pf-recommend ul {
    width: calc(100% - 320px);
  }
  html body .pf_main .pf-recommend ul li {
    width: calc((100% - 80px) / 6);
    margin: 0 0 0 16px;
  }
  html body .pf_main .pf-recommend ul li:nth-of-type(even) {
    margin-left: 16px;
  }
  html body .pf_main .pf-recommend ul li:nth-of-type(1) {
    margin-left: 0;
  }
  html body .pf_main .pf-recommend .pf-cta {
    width: 22.8vw;
  }
  html body .pf_main .pf-lp {
    padding-top: 100px;
  }
  html body .pf_main .pf-lp ul li {
    width: calc((100% - 48px) / 4);
  }
}